.headerButton {
    background-color: #978F10;
    color: #ffffff;
    font-weight: bold;
    padding: 19px 37px;
}
.headerButtonBody {
    padding-left: 10px;
}

.aboutButton {
    padding: 20px 52px;
    border: solid 1px #707070;
}
.aboutButton--s{
    padding: 20px 44px;
}


.mediaButton {
    border: solid 1px #707070;
    padding: 20px 44px;
}