.cardContainer {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
}


.card {
    width: 340px;
    margin-right: 94px;
}

.card:nth-of-type(3n) {
    margin-right: 0;
}

.card_img {
    margin-bottom: 32px;
}

.card_title {
    font-size: 1.25rem;
    margin-bottom: 36px;
    line-height: 2;
}

.card_text {
    line-height: 2;
}



.mediaContainer {
    max-width: 1186px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.media {
    display: flex;
    background-color: #F6F6F6;
    width: 530px;
    height: 100px;
    margin-bottom: 20px;
    padding: 15px 39px 15px 10px;
}

.media_body {
    width: 100%;
    margin-left: 30px;
}
.media_date {
    font-size: 0.875rem;
    margin-bottom: 10px;
}
