

header {
    position: fixed;
    z-index: 99;
    margin-bottom: -80px;
    width: 100%;
    box-sizing: border-box;
}

.header-scroll {
    background-color: #fff;
    transition: 1s;
}

.headerInner {
    max-width: 1900px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.headerWrap {
    display: flex;
    align-items: center;
}

.headerLogoWrap {
    display: flex;
    margin-right: 120px;
    align-items: center;
}

.headerLogo_title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-left: 15px;
}

.headerLogo_text-scroll {
    color: #000;
}

.headerLogo_img-hide {
    display: none;
}

#js_logo {
    display: block;
}

#js_hide {
    display: none;
}