.firstViewSec {
    width: 100%;
    position: relative;
}
.firstViewWrap {
    width: 100%;
    overflow: hidden;
}
.firstViewText {
    z-index: 999;
    position: absolute;
    color: #fff;
    top: 30%;
    right: 20%;
    writing-mode: vertical-rl;
    font-size: 2.125rem;
    line-height: 1.8;
    letter-spacing: 10px;
}

@keyframes zoomUp {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(1.5);
    }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{
    animation: zoomUp 10s linear 0s 1 normal both;  
}
.slide-img img{
    display: block;
    width: 100%;
    height: 100%;
}



.conceptSec {
    background-image: url(../img/bg/textbg.png);
    background-size: cover;
    width: 100%;

}

.conceptWrap {
    padding: 149px 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.conceptTitle {
    font-size: 1.75rem;
    writing-mode: vertical-rl;
    margin-left: 118px;
    line-height: 1.8;
    letter-spacing: 0.5rem;
}
.conceptTitle--top {
    display: block;
    margin-top: -60px;
}
.conceptText {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 118px;
    line-height: 1.8;
    letter-spacing: 0.5rem;
}
.conceptEnd {
    writing-mode: vertical-rl;
    text-align: right;
    letter-spacing: 0.5rem;
}









.planSec {
    width: 100%;
    background-image: url(../img/bg/centerbg.png);
    background-size: contain;
}












.accessSec {
    background-image: url(../img/bg/textbg.png);
}









.linkSec {
    background-image: url(../img/bg/footerbg.png);
}