
.firstViewSec {
    width: 100%;
    position: relative;
}
.firstViewWrap {
    width: 100%;
    overflow: hidden;
}
.firstView_img {
    max-width: 100%;
}
.firstView_text {
    z-index: 999;
    position: absolute;
    color: #fff;
    top: 30%;
    right: 20%;
    writing-mode: vertical-rl;
    font-size: 2.125rem;
    line-height: 1.8;
    letter-spacing: 10px;
}

@keyframes zoomUp {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(1.5);
    }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{
    animation: zoomUp 10s linear 0s 1 normal both;  
}
.slide-img img{
    display: block;
    width: 100%;
    height: 100%;
}



.conceptSec {
    background-image: url(../img/bg/textbg.png);
    background-size: contain;
    width: 100%;

}

.conceptWrap {
    width: 100%;
    padding: 149px 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.concept_title {
    font-size: 1.75rem;
    writing-mode: vertical-rl;
    margin-left: 118px;
    line-height: 1.8;
    letter-spacing: 0.5rem;
}
.concept_title-high {
    display: block;
    margin-top: -60px;
}
.concept_text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 118px;
    line-height: 1.8;
    letter-spacing: 0.5rem;
}
.concept_text-end {
    writing-mode: vertical-rl;
    text-align: right;
    letter-spacing: 0.5rem;
}




.aboutSec {
    max-width: 1920px;
    padding: 106px 0 0 0;
    margin: 0 auto;
}

.aboutContainer {
    display: flex;
    max-width: 1920px;
    max-height: 545px;
    margin-bottom: 122px;
}


.aboutImgWrap {
    max-width: 1050px;
    margin-right: 137px;
}

.about_img {
    max-width: 100%;
}

.aboutWrap {
    padding-right: 20px;
    margin-top: 20px;
}

.about_title {
    font-size: 2.25rem;
    margin-bottom: 95px;
}

.about_text {
    line-height: 2;
    margin-bottom: 75px;
}

.aboutContainer-reverse {
    flex-direction: row-reverse;
    justify-content: right;
    margin-right: 0;
}

.aboutWrap-reverse {
    padding-left: 20px;
}

.about_text-reverse {
    line-height: 2;
    margin: 20px 137px 75px 0;
}

.aboutContainer:last-child {
    margin-bottom: 78px;
}



.logoImgWrap {
    width: 40px;
    height: 40px;
    margin: 0 auto 20px;
}

.level2Heading {
    font-size: 2.25rem;
    text-align: center;
    margin: 0 auto 66px;
}




.planSec {
    width: 100%;
    background-image: url(../img/bg/centerbg.png);
    background-size: cover;
    padding: 60px 20px 144px 20px;

}




.notionSec {
    max-width: 1920px;
    padding: 60px 20px;
    margin: 0 auto;
}







.accessSec {
    background-image: url(../img/bg/textbg.png);
    width: 100%;
    padding: 60px 20px 110px 20px;
}

.accessWrap {
    display: flex;
    width: 1350px;
    margin: 70px auto;
    align-items: center;
}

.accessTextWrap {
    width: 100%;
    line-height: 2;
    margin-left: 83px;
}




.mapWrap {
    max-width: 792px;
    height: 592px;
    margin: 0 auto;
}
.mapWrap__map {
    width: 100%;
    height: 100%;
}







.linkSec {
    background-image: url(../img/bg/footerbg.png);
    width: 100%;
    padding: 64px 20px 61px 20px;
}


.addressWrap {
    display: flex;
    margin: 72px auto 23px;
    justify-content: space-between;
    width: 350px;
}

.address {
    letter-spacing: 0.2rem;
}

.telWrap {
    margin: 0 auto;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

