.conceptSec {
    background-image: url(../img/bg/textbg.png);
}










.planSec {
    background-image: url(../img/bg/centerbg.png);
}












.accessSec {
    background-image: url(../img/bg/textbg.png);
}









.linkSec {
    background-image: url(../img/bg/footerbg.png);
}