.media_body {
    width: 100%;
    margin-left: 30px;
}
.media_date {
    font-size: 0.875rem;
    margin-bottom: 10px;
}



.modal{
    display: none; 
}
.is-show {
    z-index: 999;
    display: block;
    background: rgba(255,255,255,0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw; 
}

.modal_content{
    background: #fff;
    width: 500px;
    margin: 20% auto;
    padding-bottom: 90px;
}

.modalWrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 40%;
}

.reserve_title {
    font-size: 1.25rem;
    margin-top: 29px;
}

.modalButton-close {
    border: none;
    font-size: 3rem;
    margin-right: 20px;
}

.reserveWrap {
    width: 429px;
    margin: 29px auto 30px;
    padding: 35px 0;
    border-top: 1px solid #E7E7E7;
}

.reserve_detail {
    display: block;
    margin-bottom: 14px;
}
.reserve_body {
    display: block;
    width: 417px;
    margin-bottom: 14px;
    border: 1px solid #E7E7E7;
    padding: 9px 0 9px 10px;
}

.textBox, .select {
    border: none;
}

.reserve_button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 198px;
    padding: 13px 0px;
    border: solid 1px #707070;
}

.select:invalid {
    color: #797878;
}
