footer {
    background-color: #000;
    width: 100%;
}

.footer__copyright {
    text-align: center;
    color: #fff;
    padding: 23px 0;
}

.footerLogoWrap {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}