.logoImgWrap {
    width: 40px;
    height: 40px;
    margin: 0 auto 20px;
}

.mainViewContainer {
    position: relative;
    bottom: -80px;
    margin-bottom: 80px;
}
.mainViewWrap {
    max-width: 100%;
}
.mainView_img {
    width: 100%;
    min-height: 500px;
    object-fit: cover;
}

.mainView_title {
    position: absolute;
    top: 46%;
    right: 47%;
    color: #fff;
    font-size: 2.125rem;
}


.detailSecInner {
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

.messageWrap {
    margin: 150px auto 78px;
}
.message_text {
    text-align: center;
    line-height: 2.5;
}



.detailContainer {
    display: flex;
    position: relative;
    margin-bottom: 222px;
}

.detailContainer-reverse {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin-bottom: 222px;
}

.detailImgWrap {
    z-index: 1;
}

.detailTextWrap {
    width: 813px;
    height: 381px;
    background-image: url(../../../img/bg/textbg.png);
    position: absolute;
    right: 0;
    top: 20%;
}

.detailTextWrap-reverse {
    left: 0;
}

.detail_title {
    margin: 60px 0 0 238px;
    font-size: 1.5rem;
}

.detail_text {
    margin: 52px 0 0 238px;
    line-height: 2;
}

.detail_text-caution {
    font-size: 0.875rem;
    margin: 52px 0 0 238px;
    line-height: 1.5;
}

.detail_title-reverse {
    margin: 60px 0 0 60px;
}

.detail_text-reverse {
    margin: 52px 0 0 60px;
}


.linkSec {
    background-image: url(../../../img/bg/footerbg.png);
    width: 100%;
    padding: 64px 20px 61px 20px;
    box-sizing: border-box;
}


.addressWrap {
    display: flex;
    margin: 72px auto 23px;
    justify-content: space-between;
    width: 350px;
}

.address {
    letter-spacing: 0.2rem;
}

.telWrap {
    margin: 0 auto;
    width: 320px;
    display: flex;
    justify-content: space-between;
}
