.logoImgWrap {
    width: 40px;
    height: 40px;
    margin: 0 auto 20px;
}

.mainViewContainer {
    position: relative;
    bottom: -80px;
    margin-bottom: 80px;
}
.mainViewWrap {
    max-width: 100%;
}
.mainView_img {
    width: 100%;
}

.mainView_title {
    position: absolute;
    top: 46%;
    right: 47%;
    color: #fff;
    font-size: 2.125rem;
}


.linkSec {
    background-image: url(../../../img/bg/footerbg.png);
    width: 100%;
    padding: 64px 20px 61px 20px;
}


.addressWrap {
    display: flex;
    margin: 72px auto 23px;
    justify-content: space-between;
    width: 350px;
}

.address {
    letter-spacing: 0.2rem;
}

.telWrap {
    margin: 0 auto;
    width: 320px;
    display: flex;
    justify-content: space-between;
}
